extends layout

block content
  .modal(id="modal",tabindex="-1",role="dialog",aria-labelledby="#{id}Label")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button",data-dismiss="modal")
            span(aria-hidden="true") &times;
            span.sr-only Close
          h4.modal-title(id="#{id}Label") Login first
        .modal-body
          input(type="text" id="username-box" class="form-control input-lg" placeholder="Type username here..." rows="3")
        .modal-footer
          button#close-modal.btn.btn-default(type="button",data-dismiss="modal") Start chat
  .wrap
    .container
      h1= title
      #messages
  .push
  footer.footer
    .container
      .row
        .col-xs-8.col-sm-9
          input(type="text" id="message-box" class="form-control input-lg" placeholder="Write a message here..." rows="3")
        .col-xs-4.col-sm-3
          button#send-message-btn.btn.btn-primary.btn-lg.btn-block Send Message

  script(src="/socket.io/socket.io.js")
  script(type='text/javascript' src='/socket.io/socket.io.js')
  script.
    var socket = io();
      $('#close-modal').click(function() {
      var username = $('#username-box').val();
      $('#modal').fadeOut();
      socket.emit('new user', username);
      return false;
      });

      $('#send-message-btn').click(function () {
      var msg = $('#message-box').val();
      socket.emit('chat message', msg);
      $('#messages').append($('<p>').text(msg));
      $('#message-box').val('');
      return false;
    });

    socket.on('new message', function (username, message) {
    console.log(username + message);
      $('#messages').append($('<p>' + username + ': ' + message + '</p>'));
    });
