doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    script(type='text/javascript' src='http://code.jquery.com/jquery-1.11.1.js')
    script(type='text/javascript' src='/js/bootstrap.min.js')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet' href='/css/style.css')
  body
    block content

    block body_end
