.html, body {
height: 100%;
}
.wrap {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -60px;
}
.container {
width:auto;
}
.push, .footer {
width: 100%;
height:60px;
position: absolute;
bottom: 0;
}
.modal{
  display:block;
}
